<!-- data:{'user':user,'pwd':pwd,'csrfmiddlewaretoken':'{{ csrf_token }}'}, {% load static %} -->

<head>
    <title>translate</title>
    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <style>
        button.bt_do_later {
            position: relative;

            height: 50px;
            width: 80px;
            /* top: 1px; */
            /* right:1px; */
            left: -550px;
        }

        button.bt_save_one_str {
            position: relative;

            height: 50px;
            width: 80px;
            /* top: 1px; */
            /* right:1px; */
            left: -550px;
        }

        textarea.english_text {
            position: relative;

            height: 180px;
            width: 600px;
            /* top: 1px; */
            /* right:1px; */
            /* left: 1px; */
        }

        textarea.english_text_wy {

            /* color: rgb(107, 104, 104); */
            position: relative;

            height: 90px;
            width: 600px;
            /* top:1px; */
            /* right:601px;    */
            /* left: 1px; */
        }

        textarea.tranlate_text {
            position: relative;

            height: 90px;
            width: 600px;
            /* right:601px;     */
            /* top: 1px; */
        }

        button.save_into_doc {
            /* position: relative; */
            position: sticky;
            top: 10px;
            /* right:601px;     */
            left: 1400px;
            height: 50px;
            width: 80px;

            /* top: 1px; */
        }
    </style>

</head>



<script>
    var flagForInputPlace = 0;

    document.onkeydown = function (e) {
        s1 = 'tranlate_text'
        s2 = 'english_text_wy'
        var keyCode = e.keyCode || e.which || e.charCode;
        var ctrlKey = e.ctrlKey || e.metaKey;
        var altKey = e.altKey || e.metaKey;

        if (ctrlKey && keyCode == 83) {
            elem = e.target ? e.target : (e.srcElement ? e.srcElement : null);
            // if (elem &&  (elem.name ==  s1 || elem.name == s2)) {
            if (elem && (elem.name == s1 || elem.name == s2)) {
                // alert(elem.name);
                // alert(elem.value);
                // alert(elem.class)
                post_save_one_str_(elem);
                flagForInputPlace = 1;
                // e.preventDefault();
                return false;
            }
        }
        if (altKey && keyCode == 83) {
            elem = e.target ? e.target : (e.srcElement ? e.srcElement : null);
            if (elem && (elem.name == s1 || elem.name == s2)) {
                post_flag_do_later_(elem);
                // e.preventDefault();
                flagForInputPlace = 2;
                return false;
            }
        }

        if (keyCode == 9) {
            elem = e.target ? e.target : (e.srcElement ? e.srcElement : null);
            if (elem &&  elem.name == s2) {
                // alert(elem.form.id);
                nextId_ = Number(elem.form.id) ;
                nextId_ = nextId_ +1;
                // alert(nextId_.toString());
                var f = document.getElementById(nextId_);
                if (f == null) {
                    // alert("post_save_one_str_ ：form is null" + (id));
                } else{
                    for (i = 0; i < f.elements.length; i++) {
                        ee = f.elements[i];

                        if (ee.name == "tranlate_text") {
                            // alert(ee.name + ee.value);
                            // english_text = ee.value;
                            ee.focus();
                        }
                    }
                }
                return false;
            } else {
                return true;
            }
        }

        return true;
    }


    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?  
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function saveCurrZhText() {
        // 该方法会从选取元素，向上逐级查找其父节点。并返回第一个查找到的节点
        // $(".submit").on('click',function () {
        //     console.log($(this).closest("form").attr("id"));
        // })


        // var id = $(this).getAttribute("form");
        var id = $(this).val("form");
        debugger;
        var f = document.getElementById(id);
        var i;
        var ee;
        if (f == null) {
            alert("is null：" + (id));
            console.log(id);

        } else {
            for (i = 0; i < f.elements.length; i++) {
                ee = f.elements[i];

                if (ee.name == "english_text" || ee.name == "tranlate_text") {
                    alert(ee.name + ee.value);
                } else {

                }
            }
        }


    }
    function word_tranl_just() {
        //   $(this).hide();
        // 这个在
        userSelection = window.getSelection().toString();
        var csrf_token_ = getCookie('csrftoken');
        alert(userSelection);
        $.post("{% url 'articleTranlate:get_one_word' %}",
            {
                "word_translate": userSelection,
                "csrfmiddlewaretoken": csrf_token_,
            },
            function (data, status) {
                // alert("数据: \n" + data + "\n状态: " + status);
                // alert(data);
                console.log(data);

            });

    }

    // function displayDate(id) {
    //     document.getElementById(id).innerHTML = Date();
    // }

    function StandardPost(url, args) {
        var myForm = document.createElement("form");
        myForm.method = "post";
        myForm.action = url;

        for (var k in args) {
            var myInput = document.createElement("input");
            myInput.setAttribute("type", "hidden");
            myInput.setAttribute("name", k);
            myInput.setAttribute("value", args[k]);
            myForm.appendChild(myInput);
        }
        document.body.appendChild(myForm);
        myForm.submit();


        //jieshou接受数据：
        document.body.removeChild(myForm);
    }
    function sleep(numberMillis) {
        var now = new Date();
        var exitTime = now.getTime() + numberMillis;
        while (true) {
            now = new Date();
            if (now.getTime() > exitTime)
                return;
        }
    }
    function myFunction(e) {
        // var timeoutId = setTimeout("delay()", 1550);
        // sleep(350);  //睡眠5秒
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("GET", "{% url 'articleTranlate:ajax_list' %}", false);
        xmlhttp.send();
        // document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
        // alert("is null");
        alert(xmlhttp.responseText);
    }
    function myFunction3(e) {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        // csrf_token_ =document.getElementById("csrf_token").value
        var csrf_token_ = getCookie('csrftoken');

        var data = { 'user': 'user', 'pwd': 'pwd', };
        // var data = "user=1&pwd=3"
        xmlhttp.open("POST", "{% url 'articleTranlate:get_one_word' %}", true);
        xmlhttp.setRequestHeader('X-CSRFToken', csrf_token_)
        xmlhttp.send(data);




        // debugger;

        console.log(xmlhttp.responseText);

        // var id = e.getAttribute("form");
        // var f = document.getElementById(id);
        // var i;
        // var ee;
        // if (f == null) {
        //     alert("is null" + (id));

        // } else {
        //     for (i = 0; i < f.elements.length; i++) {
        //         ee = f.elements[i];

        //         if (ee.name == "english_text" || ee.name == "tranlate_text") {
        //             alert(ee.name + ee.value);
        //         } else {

        //         }
        //     }
        // }

        // alert(xmlhttp.responseText);
    }



    // 将post一个句子的翻译进行保存
    function post_save_one_str_(e) {
        // var ename = e.name;
        var id = e.getAttribute("form");
        var f = document.getElementById(id);
        var i;
        var ee;
        var csrf_token_ = getCookie('csrftoken');
        var english_text;
        var tranlate_text;
        var bt_save_one_str;
        var bt_do_later;
        // var flag;
        // flag =0;
        if (f == null) {
            alert("post_save_one_str_ ：form is null" + (id));

        } else {
            for (i = 0; i < f.elements.length; i++) {
                ee = f.elements[i];

                if (ee.name == "english_text") {
                    // alert(ee.name + ee.value);
                    english_text = ee.value;
                }
                if (e.name == ee.name && ee.name == "tranlate_text") {
                    tranlate_text = ee.value;
                }
                if (e.name == ee.name && ee.name == "english_text_wy") {
                    tranlate_text = ee.value;
                }

                if (ee.name == "bt_save_one_str") {
                    console.log(ee.name);
                    bt_save_one_str = ee;
                    // flag =1;
                }
                if (ee.name == "bt_do_later") {
                    console.log(ee.name);
                    bt_do_later = ee;
                    // flag =2;
                }
            }

            $.post("{% url 'articleTranlate:post_save_one_str' %}",
                {
                    "english_text": english_text,
                    "tranlate_text": tranlate_text,
                    "csrfmiddlewaretoken": csrf_token_,
                },
                function (data, status) {
                    // alert("数据: \n" + data + "\n状态: " + status);
                    // alert(data);
                    // console.log(data);
                    if (data == 'ok') {

                        // console.log(e.textContent);
                        // e.value="已保存";
                        // document.getElementById(id).nodeValue="已保存";
                        // if ( flag == 1) {
                        bt_save_one_str.textContent = "已保存";
                        // }

                    }

                });
        }
    }
    function post_flag_do_later_save(e) {

        var id = e.getAttribute("form");
        var f = document.getElementById(id);
        // var form1 = document.getElementById(id);
        var i;
        var ee;
        var csrf_token_ = getCookie('csrftoken');
        var english_text;
        var tranlate_text;
        if (f == null) {
            alert("post_save_one_str_ ：form is null" + (id));

        } else {
            // f.style.visibility="hidden";
            f.style.visibility = "visible";
            // document.getElementById("EleId").style.visibility="visible"; 
            // document.getElementById("EleId").style.visibility="visible"; 
            // console.log(id + "id");


            for (i = 0; i < f.elements.length; i++) {
                objFind = f.elements[i];
                // alert(e.name + "\t" + e.value);
                console.log(":" + objFind.nodeName);
                // console.log(":"+objFind.name);
                // console.log(objFind.name);
                if (objFind.nodeName == "time") {
                    objFind.style.visibility = "visible";


                }
            }
        }

    }
    function save_into_doc_fuc(e) {
        var csrf_token_ = getCookie('csrftoken');
        $.post("{% url 'articleTranlate:save_into_doc' %}",
            {
                "send_var": "creDoc",
                "csrfmiddlewaretoken": csrf_token_,
            },
            function (data, status) {
                // alert("数据: \n" + data + "\n状态: " + status);
                // alert(data);
                // console.log(data);
                if (data == 'ok') {
                    // console.log(e.textContent);
                    // bt_do_later.textContent = "已标记";
                }

            });



    }
    function post_flag_do_later_(e) {
        // var ename=e.name;
        var id = e.getAttribute("form");
        var f = document.getElementById(id);
        var i;
        var ee;
        var csrf_token_ = getCookie('csrftoken');
        var english_text;
        var tranlate_text;
        var bt_save_one_str;
        var bt_do_later;
        // var flag;
        // flag =0;

        if (f == null) {
            alert("post_save_one_str_ ：form is null" + (id));

        } else {
            for (i = 0; i < f.elements.length; i++) {
                ee = f.elements[i];

                if (ee.name == "english_text") {
                    // alert(ee.name + ee.value);
                    english_text = ee.value;
                }
                if (e.name == ee.name && ee.name == "tranlate_text") {
                    tranlate_text = "【ToUpdate】" + ee.value;
                }

                if (e.name == ee.name && ee.name == "english_text_wy") {
                    tranlate_text = "【ToUpdate】" + ee.value;
                }

                if (ee.name == "bt_save_one_str") {
                    console.log(ee.name);
                    bt_save_one_str = ee;
                    // flag =1;
                }
                if (ee.name == "bt_do_later") {
                    console.log(ee.name);
                    bt_do_later = ee;
                    // flag =2;
                }

            }

            $.post("{% url 'articleTranlate:post_save_one_str' %}",
                {
                    "english_text": english_text,
                    "tranlate_text": tranlate_text,
                    "csrfmiddlewaretoken": csrf_token_,
                },
                function (data, status) {
                    // alert("数据: \n" + data + "\n状态: " + status);
                    // alert(data);
                    // console.log(data);
                    if (data == 'ok') {

                        console.log(e.textContent);
                        // e.value="已保存";
                        // document.getElementById(id).nodeValue="已保存";
                        // if ( flag == 2) {
                        bt_do_later.textContent = "已标记";
                        // }

                    }

                });
        }

    }

</script>


<link /> {% if articleTranlate_list_name %}

<body>
    <!-- <input type="hidden" id="csrf_token"   >  {% csrf_token %} -->
    <input type="hidden" id="csrf_token" value="{{csrf_token}}">
    <!-- {% if ArticleAddress_str_name %}
        <input type="text" name="FirstName" value={{articleTranlate_list_name}}><br>
        {% endif %} -->

    <button class="save_into_doc" name="save_into_doc" type="button" onclick="save_into_doc_fuc(this)">保存至doc</button>{% csrf_token %}


    <ul>

        {% csrf_token %} {% for translte_str in articleTranlate_list_name %}
        <table>
            <tr style="color:#0000FF">
                <p>句子：{{forloop.counter0}} 段落：{{ translte_str.paragraph_id }}</p>
            </tr>
            <tr>

                <form action="{% url 'articleTranlate:updataArticle' %}" method="post" id={{forloop.counter0}}>
                    <td>
                        <textarea class="english_text" name="english_text" rows="10" cols="70">{{ translte_str.english_text}}</textarea>{% csrf_token %}
                    </td>
                    <td>
                        <textarea class="tranlate_text" name="tranlate_text" form={{forloop.counter0}} rows="10" cols="70">{{ translte_str.tranlate_text }}</textarea> {% csrf_token %}
                        <textarea class="english_text_wy" name="english_text_wy" form={{forloop.counter0}} rows="10" cols="70">{{ translte_str.tranlate_text_wy}}</textarea>{% csrf_token %}
                    </td>
                </form>
                <td>
                    <!-- <time style="visibility: hidden;" name = "timeShow" form={{forloop.counter0}}>9:00</time>  -->
                    <button class="bt_do_later" name="bt_do_later" type="button" form={{forloop.counter0}} onclick="post_flag_do_later_(this)">再说</button>{% csrf_token %}
                    <br>
                    <br>
                    <button class="bt_save_one_str" name="bt_save_one_str" type="button" form={{forloop.counter0}} onclick="post_save_one_str_(this)">保存</button>{% csrf_token %}
                </td>
            </tr>
        </table>
        {% endfor %}
    </ul>
    {% else %}
    <p>No articleTranlate are available.</p>
    {% endif %}

</body>